body,
html{
	width: 100%;
	height: 100%;
	background: url(phygicart.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
}
h1{
	font-size: bold;
	color: black;
}
.btn{
	size: 100px;
	font-weight: 1000;
	border-radius: 400px;
	background-color: lightblue;
	border-color: darkblue;
	margin: 10px;
	padding: 10px;

}
.btnxl{
	align-items: center;
}
